data-factory/pipeline/pl_stock_analyses.json
{
    "name": "pl_stock_analyses",
    "properties": {
        "activities": [
            {
                "name": "Copy - Profile",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Get API Key",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "RestSource",
                        "httpRequestTimeout": "00:01:40",
                        "requestInterval": "00.00:00:00.010",
                        "requestMethod": "GET",
                        "paginationRules": {
                            "supportRFC5988": "true"
                        }
                    },
                    "sink": {
                        "type": "JsonSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "JsonWriteSettings"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "ds_fmp_profile",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_apikey": {
                                "value": "@activity('Get API Key').output.value",
                                "type": "Expression"
                            },
                            "p_tickers": "MSFT,BRK-B,NVDA,AAPL,AMZN,GOOGL,META,AVGO,TSLA,BRK.B,TSM,JPM,WMT,ORCL,LLY,V,JNJ,UNH,CVX,C,MA,KO,GIS,PG,ADBE,IBM,MCD,DIS,NFLX,XOM,HON,CAT,GILD,DHR,UPS,LMT,SBUX,BLK,CVV,MMM,RT,X,NEE,AMGN,T,VZ,QCOM,ADP,SPGI,LOW,TMO,SHOP"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ds_datalake_profile",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Get API Key",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "GET",
                    "url": "https://kvcambaapikeys.vault.azure.net/secrets/fmp-api-key/f9b5dbed3be24ae98a42f74edf3c4247?api-version=7.5",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            },
            {
                "name": "Copy - Historical",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Copy - Profile",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "RestSource",
                        "httpRequestTimeout": "00:01:40",
                        "requestInterval": "00.00:00:00.010",
                        "requestMethod": "GET",
                        "paginationRules": {
                            "supportRFC5988": "true"
                        }
                    },
                    "sink": {
                        "type": "JsonSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "JsonWriteSettings"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "ds_fmp_historical",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_apikey": {
                                "value": "@activity('Get API Key').output.value",
                                "type": "Expression"
                            },
                            "p_tickers": "MSFT,BRK-B,NVDA,AAPL,AMZN,GOOGL,META,AVGO,TSLA,BRK.B,TSM,JPM,WMT,ORCL,LLY,V,JNJ,UNH,CVX,C,MA,KO,GIS,PG,ADBE,IBM,MCD,DIS,NFLX,XOM,HON,CAT,GILD,DHR,UPS,LMT,SBUX,BLK,CVV,MMM,RT,X,NEE,AMGN,T,VZ,QCOM,ADP,SPGI,LOW,TMO,SHOP"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ds_datalake_historical",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Bronze_to_Silver",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Populate dim_date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/gabriel.camba.projects@outlook.com/Bronze_to_Silver"
                },
                "linkedServiceName": {
                    "referenceName": "ls_databricks_ws",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Populate dim_date",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Copy - Historical",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[PopulateDimDate]",
                    "storedProcedureParameters": {
                        "StartDate": {
                            "value": "2020-01-01",
                            "type": "Datetime"
                        },
                        "EndDate": {
                            "value": {
                                "value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
                                "type": "Expression"
                            },
                            "type": "Datetime"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_synapse_dpool",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Silver_to_Gold",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Bronze_to_Silver",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/gabriel.camba.projects@outlook.com/Silver_To_Gold"
                },
                "linkedServiceName": {
                    "referenceName": "ls_databricks_ws",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Validation_Gold",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Silver_to_Gold",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/gabriel.camba.projects@outlook.com/Validation_Gold.py"
                },
                "linkedServiceName": {
                    "referenceName": "ls_databricks_ws",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Copy to Synapse dim_company",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Validation_Gold",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/gabriel.camba.projects@outlook.com/Copy_To_Synapse_dim_company"
                },
                "linkedServiceName": {
                    "referenceName": "ls_databricks_ws",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Copy to Synapse fact_quote",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Copy to Synapse dim_company",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/gabriel.camba.projects@outlook.com/Copy_To_Synapse_fact_quote"
                },
                "linkedServiceName": {
                    "referenceName": "ls_databricks_ws",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "variables": {
            "StartTime": {
                "type": "String"
            },
            "EndTime": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-08-11T17:46:11Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}